:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --text-dark: #343a40;
    --text-light: #f8f9fa;
    --deep-teal: #0D584D;
    --dark-teal: #0C3336;
    --paper-white: #F5EEEA;
    --turquoise: #30dec4;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
