@import "./base.scss";

.logo-website{
    height: 200px;
    position: relative;
    img{
        width: 300px;
        height: 200px;
    }
    .btn-signin{
        position: absolute;
        top:10%;
        right: 10%;
    }
}
.navigation-nav-list{
    text-align: center;
    ul{
        max-width: 600px;
        margin: 0 auto;
        li{
            a{
                font-size: 1.2rem;
                font-weight: bold;
                color: var(--deep-teal); 
            
                &:hover {
                    color: var(--turquoise);
                }
            }
        }
    }
    div{
        margin: 40px 0;
        p{
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.homepage-block-image-1{
    position: relative;
    height: 555px;
    .block-image-1-1{
        position: absolute;
        top: 0;
        left: 0;
        img{
            width: 860px;
            height: 500px;
        }
    }
    .block-image-1-2{
        position: absolute;
            right: 0;
            bottom: 0;
        img {
            width: 500px;
            height: 345px;
        }
    }
}

.homepage-block-image-2 {
    position: relative;
    height: 500px;

    .block-image-2-1 {
        position: absolute;
        top: 10%;
        left: 0;

        img {
            width: 500px;
            height: 345px;
        }
    }

    .block-image-2-2 {
        position: absolute;
        right: 0;
        top: 0;
        img {
            width: 860px;
            height: 500px;
        }
    }
}

.homepage-block-image-3 {
    position: relative;
    height: 555px;

    .block-image-3-1 {
        position: absolute;
        left: 0;
        top: 0;
    
        img {
            width: 860px;
            height: 500px;
        }
    }

    .block-image-3-2 {
        position: absolute;
        top: 10%;
        right: 0;
    
        img {
            width: 500px;
            height: 345px;
        }
    }
}

.custom-footer{
    background-color: var(--dark-teal);
}