@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp');
@import 'tailwindcss';

@theme {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --text-dark: #343a40;
  --text-light: #f8f9fa;
  --deep-teal: #0d584d;
  --dark-teal: #0c3336;
  --paper-white: #f7f7f7;
  --turquoise: #30dec4;
}
html {
  font-family: 'Nunito', 'Roboto', 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--paper-white);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}
